<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles.css" type="text/css" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:300, 700" rel="stylesheet">
	<title>ed-fyi</title>
	
</head>