<div>
	<img src="/images/desk.png" class="banner" />
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h1>Why ed-fyi?</h1>
		<p> We were frustrated by the lack of <span class="bold">clear</span> and <span class="bold">comprehensive</span> information on issues in education. For a system with so much <span class="bold">complexity</span>, we need a better way to look at and think about education issues than piecemeal across the interweb. </p>
		<p>That's why we made ed-fyi: to <span class="bold">collect</span> all this information in <span class="bold">one place</span>, make it <span class="bold">digestible</span>, make it <span class="bold">actionable</span>, and make <span class="bold">connections</span> you only get by having all of this information in one place.</p>
		<br>
		<br>

		<h2>Comments? Suggestions?</h2>
		<p> This is a project by Connie Liu & Rue Park, two <span class="bold">engineers</span> and <span class="bold">education enthusiasts</span> frustrated by the state of education today.</p>
		<hr>
		<h4> Reach us at <span class="bold">ed-fyi@mit.edu</span></h4>
	</div>
	<div class="col-md-2"></div>
</div>