<div>
<h1>Why ed-fyi?</h1>
<p> We were frustrated by the lack of clear, comprehensive information on issues in education. For a system with so much complexity, we need a better way to look at and think about education issues than piecemeal across the interweb. That's why we made ed-fyi: to collect all this information in one place, make it digestible, make it actional, and make connections you only get by having all of this information in one place.</p>

<h2>Comments? Suggestions?</h2>
<p> This is a project by Connie Liu & Rue Park, two engineers/education enthusiasts frustrated by the state of education today.</p>
<p> Contact us at _______. </p>
</div>