<div class="below">

	<h1>Welcome to ed-fyi!</h1>

	<h3>Select a concept below to learn more about it! </h3>
	<br>

	{{#each concepts}}
	<form method="post" action="concept" class="conceptButton">
	<button type="submit" name="id" value={{id}} class="btn btn-success">{{name}}</button>
	</form>
	{{/each}}

</div>